<!-- <p style="background-image: url('assets/image/A1.jpg');"></p> -->


<div class="A1">
    <img src="assets/Image/A1.jpg" height="650px" width="1340px">
    <div class="A2">
        <h1>
            <u>About Us</u>
        </h1>
    </div>
    <div class="A3">
        <p>
            Developed By:-Sudarshan Banerjee<br>
            Description:- This Application is developed so that users can provide their opinion about their favourite Movies and TV Shows. With a friendly User Interface.<br>
            About Me:- Software Developer, Ethical Hacker, Penetration Tester.<br>
            Contact Me:-Stellervortex@gmail.com
        </p>

    </div>
</div>

